extends layout

block content

    .container

        h1 #{title}

        .row
            if incidents 
                each incident in incidents
                    .col-sm-4
                        .panel.panel-default
                            .panel-heading Incident #{incident.id.split('-').pop()}
                                i.glyphicon.glyphicon-flash.pull-right
                        
                            table.table
                                tr
                                    th Address
                                    td #{incident.Street}
                                tr
                                    th Contact
                                    td
                                        a(href=`tel:${incident.PhoneNumber}`) #{incident.FirstName} #{incident.LastName}
                                tr
                                    th Reported
                                    td #{moment(incident.Created).format('MM/DD/YYYY')}
